
<!-- <footer class="main_footer">
  <div class="wrapper">
    {% include social_footer.html %}
    <div class="copyright">
      <p>&copy; {{site.time | date: '%Y'}} All rights reserved. Design by <a href="https://artemsheludko.github.io" target="_blank">Artem Sheludko</a></p>
    </div>
  </div>
</footer> End Section Footer -->

    <footer class="footer">
            <div class="container">
                <div class="ftr_top wow fadeInUp">
                    <div class="row">
                         <div class="col-lg-4 col-sm-4">
                             <div class="ftr_cont">
                                 <a href="{{site.baseurl}}/" class="ftr_logo"><img src="{{site.baseurl}}/images/ftr_logo.png" alt="" /></a>
                                 <p>
                                     Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                     Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                 </p>
                                 <a href="http://www.govtech.com/100/" target="_blank" class="ftr100"><img src="{{site.baseurl}}/images/100.png" alt="" /></a>
                             </div>
                         </div>
                         <div class="col-lg-5 col-sm-5">
                             <div class="ftr_cont mid">
                                 <h4>Quick Links</h4>
                                 <ul>
                                     <li class="active"><a href="{{site.baseurl}}/">Home</a></li>
                                     <li><a href="{{site.baseurl}}/product">Product</a></li>
                                     <li><a href="{{site.baseurl}}/victim">Module</a></li>
                                     <li><a href="{{site.baseurl}}/resource">Resources</a></li>
                                     <li><a href="{{site.baseurl}}/about">About</a></li>
                                     <li><a href="{{site.baseurl}}/contact">Contact</a></li>
                                 </ul>
                             </div>
                         </div>
                         <div class="col-lg-3 col-sm-3">				
                             <div class="ftr_cont">
				     <h4>NewsLetter</h4>
                                 <p>
                                     Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                 </p>
				      {% include newsletter.html %}                                
                             </div>
                         </div>
                     </div>
                </div>
                <div class="ftr_bott clearfix">
                    <div class="row">
                         <div class="col-lg-6 col-sm-6">
                             <p class="copy">&copy; {{site.time | date: '%Y'}} , <a href="https://www.spidrtech.com/" target="_blank">Spider Tech</a>All Rights Reserved</p>
                         </div>
                         <div class="col-lg-6 col-sm-6">
                             <div class="social wow fadeInUp">
                                 <a href="javascript:void(0);"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                 <a href="https://twitter.com/spidrtech" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                 <a href="https://www.linkedin.com/company/spidr-tech" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                 <a href="javascript:void(0);"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                             </div>
                         </div>
                    </div>
                </div>
            </div>
        </footer>
         <!--    /footer  -->

		<script src="{{site.baseurl}}/js/jquery-2.2.4.js"></script>
		<script src="{{site.baseurl}}/js/bootstrap.js"></script>
		<script src="{{site.baseurl}}/js/jquery.fancybox.pack.js?v=2.1.5"></script>
		<script src="{{site.baseurl}}/js/jquery.fancybox-media.js?v=1.0.6"></script>
		<script src="{{site.baseurl}}/js/easyResponsiveTabs.js"></script>
		<script src="{{site.baseurl}}/js/owl.carousel.js"></script>
		<script src="{{site.baseurl}}/js/equalheight.js"></script>
		<script src="{{site.baseurl}}/js/lunr.min.js"></script>
		<script src="{{site.baseurl}}/js/search.js"></script>
		<script src="{{site.baseurl}}/js/custom.js"></script>
		
		
	</body>
</html>
