---
layout: default
---
	<section class="banner clearfix">
			<div class="banner-inner">
				<div class="ban-image innr-pg">
					<img src="{{site.baseurl}}/images/innr-ban4.jpg" alt="" />
				</div>
				
					<div class="banner-caption inner-caption">
						<div class="container">
						<h2>Search</h2>
					</div>
				</div>
			</div>
		</section>
		<!-- banner -->
<section class="team-section">
			<div class="container">
				<div class="head">
					<h2>{{ title }}</h2>
				</div>
				
				<div class="team-mates clearfix">
				{{ content }}
					
				</div>
			</div>
		</section>	
